html {
  display: block;
  text-align: center;
}

body {
  background-color: white;
  width: 750px;
}

h1,h2,h3,h4 {
  text-decoration: underline;
}

.box {
  background: #e3f4ff;
  padding: 25px;
  margin: 10px;
}

img {
  width: 300px;
}


